// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

.header nav {
  padding: 10px 0 0 0;
}

h3.text-muted {
  margin-top: 10px;
}

@media screen and (max-width: $screen-xs-max) {
  .jumbotron {
    padding: 1em;
  }
}
