// to Override bootstrap's variables
//
// if You compiled with compass,
// see sass/_bootstrap-variables.scss for informations
//

$border-radius-base:        3px;
$border-radius-large:       4px;
$border-radius-small:       2px;
