#slideView {
  width: 640px;
  height: 480px;
  border: 1px solid black;
  overflow: hidden;
}
#slideView section {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#slideView section img {
  width: 100%;
  height: 100%;
}


#slideControls {
  width: 640px;
  height: 75px;
}
#slideControls #indicator {
  width: 100%;
  height: 25px;
  text-align: center;
}
#slideControls #indicator .indicator-dot {
  margin: 0 20px 0 20px;
  color: #caa;
  -webkit-transition: color 0.2s linear;
}
#slideControls #indicator .indicator-dot.active {
  color: black;
  -webkit-transition: color 0.2s linear;
}
#slideControls button {
  background: #a88;
  border: 0;
  color: white;
  margin: 0;
  width: 50%;
  height: 50px;
  font-size: 200%;
  -webkit-transition: background 0.2s linear;
}
#slideControls button:hover {
  background: black;
  -webkit-transition: background 0.2s linear;
}



#slides {
  padding: 0 0 0 20px;
  border-left: 1px solid #a88;
}
#slides li {
  list-style: none;
}

fieldset {
  width: 330px;
  padding: 20px;
  border: 0;
  background: white;
  border-radius: 2px;
}
fieldset p {
  color: #a88;
}
input {
  font-size: 110%;
  border: 0;
  border-radius: 2px;
  padding: 10px;
  width: 120px;
}
input[type="text"] {
  border: 1px solid #a88;
}
input[type="file"] {
}
input[type="file"] {
  width: 280px;
  background: #a88;
  color: white;
  overflow: hidden !important;
  display: block;
}
input[type="submit"] {
  width: 300px;
  background: #a88;
  color: white;
}
input[type="submit"]:hover {
  background: #caa;
}


#attention {
  margin: 20px 0 0 0;
  background: white;
  color: #b44;
  border-radius: 2px;
  width: 330px;
  padding: 20px;
}
#attention ul {
  border-left: 1px solid #a88;
}
#attention ul li {
  list-style: none;
}


body {
  background: #edc;
  color: #533
}
.content {
  padding: 50px;
}
a {
  color: #a88;
  -webkit-transition: color 0.2s linear;
}
a:hover {
  color: black;
  -webkit-transition: color 0.2s linear;
}
a#toTop {
  text-decoration: none;
}
a#toNew {
  text-decoration: none;
}
a#toNew .plus {
  position: relative;
  margin: auto;
}
#dozing {
  padding-left: 20px;
  border-left: 1px solid #a88;
}
.all {
  border-bottom: 1px solid #a88;
}
