#slideView {
  width: 640px;
  height: 480px;
  border: 1px solid black;
  overflow: hidden;
}
#slideView section {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#slideView section img {
  width: 100%;
  height: 100%;
}
#slides {
  padding: 0 0 0 20px;
  border-left: 1px solid #a88;
}
#slides li {
  list-style: none;
}
body {
  background: #edc;
  color: #533
}
.content {
  padding: 50px;
}
a {
  color: #a88;
  -webkit-transition: color 0.2s linear;
}
a:hover {
  color: #caa;
  -webkit-transition: color 0.2s linear;
}
a#toTop {
  text-decoration: none;
}
